<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoWAddonIDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WoWAddonIDE.Properties.Settings>
            <setting name="GitHubOAuthClientId" serializeAs="String">
                <value>Ov23litSTEsFpWjevhwY</value>
            </setting>
            <setting name="GitHubOAuthClientSecret" serializeAs="String">
                <value />
            </setting>
        </WoWAddonIDE.Properties.Settings>
    </userSettings>
</configuration>